
@{
    ViewBag.Title = "TableManager";
}
<script src="~/scripts/Main.js"></script>


<div class="container" style="padding-top: 150px; padding-bottom: 150px;">
    <h1 class="text-center" style="color:#b48f64">TABLE MANGER</h1><br /><br />
    <div class="text-right">
        <button class="btn btn-info" onclick="$('#modal-create-table').show()">Create Table</button>
    </div>
    <table class="table table-responsive table-bordered ">
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">SEATS</th>
            <th class="text-center">ACTION</th>
        </tr>
        @if(ViewBag.Table != null)
        {
            foreach(var item in ViewBag.Table)
            {
                <tr>
                    <td class="text-center">@item.id</td>
                    <td class="text-center">@item.seats</td>
                    <td class="text-center">
                        <a onclick="set_table('@item.id')" class="btn btn-warning">Update</a>
                        <a href="/Manager/DeleteTable/@item.id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>



<!-- MODAL CREATE TABLE  -->
<div class="modal" id="modal-create-table" style="margin-left:400px; width: 400px;" hidden>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" onclick="$('#modal-create-table').hide()">&times;</button>
            <h3 class="modal-title text-center">LOGIN</h3>
        </div>
        <div class="modal-body">
            <br />
            <form action="/Manager/Create_Table" method="post" class="form-horizontal">
                <p class="text-center" style="color:red" id="valid-create-table" hidden></p>
                <div class="input-group">
                    <span class="input-group-addon" style="margin-left:20px;">Seats</span>
                    <input type="number" name="Seats" min="2" max="20" class="form-control col-sm-5" value="" required />
                </div><br />

                <div class="text-center">
                    <input type="submit" id="btn-create-table" name="name" value="Create Table" class="btn btn-info" />
                </div>
            </form>
        </div>
    </div>
</div>


<!-- MODAL UPDATE TABLE -->
<div class="modal" id="modal-update-table" style="margin-left:400px; width: 400px;" hidden>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" onclick="$('#modal-update-table').hide()">&times;</button>
            <h3 class="modal-title text-center">UPDATE TABLE</h3>
        </div>
        <div class="modal-body">
            <br />
            <form action="/Manager/Update_Table" method="post" class="form-horizontal">
                <input type="hidden" name="ID" id="id_table" value="" />
                <p class="text-center" style="color:red" id="valid-create-table" hidden></p>
                <div class="input-group">
                    <span class="input-group-addon" style="margin-left:20px;">Seats</span>
                    <input type="number" id="seat" name="Seats" min="2" max="20" class="form-control col-sm-5" value="" required />
                </div><br />

                <div class="text-center">
                    <input type="submit" id="btn-update-table" name="name" value="Update Table" class="btn btn-info" />
                </div>
            </form>
        </div>
    </div>
</div>